@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width:100%;
  font-family: 'Poppins', sans-serif;
}

ul:hover{
  cursor: pointer;
}

.header{
  width: 100%;
  background: black;
  padding: 20px 20px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-align: center;
}
.header ul{
  padding:0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul li{
  list-style: none;
}
.header ul a{
  text-decoration: none;
  color: white;
}
.header li:hover{
  color: silver;
}


.HeadPostsList{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5,260px);
}
.HeadPostsList ul{
  list-style: none;
  padding: 15px;
  margin: 2px;
  border-radius: 10px;
  background-color: rgb(15, 82, 109);
  color: white;
};
.HeadPostsList ul li {
  text-decoration: none;
}
.HeadPostsList ul:hover{
  background-color: rgb(3, 61, 83);
}
.HeadPostsList ul .title{
  color: silver;
  font-size: 25px;
  font-weight: bold;
}
.HeadPostsList ul:hover .title{
  color: white;
}





.commentBox{
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
}
.commentBox ul:hover{
  background-color: grey;
}
.commentBox ul:hover .viewUser{
  color: blue;
}



.commentBox .comm{
  background-color: black;
  color: white;
  padding: 10px;
}
.titleBox{
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: teal;
}
.titleBox h1{
  color: silver;
  font-size: 30px;
}
.titleBox p{
  color: white;
}


.headUserInfo{
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.headUserInfo ul{
  list-style: none;
  padding: 15px;
  margin: 2px;
  border-radius: 10px;
  background-color:teal;
  color: white;
  width: 300px
}


.postDetails{
  padding: 20px;
}
.postDetails ul{
  list-style: none;
  padding: 20px;
  border: 1px solid black;
  color: white;
  background-color: silver;
}
.postDetails ul a{
  text-decoration: none;
}
.postDetails .title{
  color: black;
  font-size: 25px;
  font-weight: bold;
}



.postsLists{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,320px);
  justify-content: center;
}
.postsLists ul{
  list-style: none;
  padding: 15px;
  margin: 1px;
  border-radius: 10px;
  background-color: teal; 
  color: white;
};
.postsLists ul a{
  text-decoration: none;
}
.postsLists ul:hover{
  background: linear-gradient(to right ,teal,black);
}
.postsLists ul .title{
  color: silver;
  font-size: 20px;
}
.postsLists ul:hover .title{
  color: white;
}

.searchBar{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.searchBar label{
  font-size: 20px ;
}
.searchBar input{
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;

}

.viewPostUser{
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.posterInfos{
  padding: 20px;
}
.posterInfos ul{
  list-style: none;
}
.posterInfos ul{
  list-style: none;
  padding: 20px;
  border: 1px solid black;
  color: white;
  background-color: silver;
}
.posterInfos ul a{
  text-decoration: none;
  color: white;
}
.posterInfos ul:hover{
  background:grey;
}

.comm{
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.user{
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.viewUser{
  text-decoration: none;
  color: white;
}
.viewUser:hover {
  color: grey;
}

.photo{
  width: 200px;
}
.userInfo{
  padding: 25px;
}
.userInfo h1{
  text-align: center;
}
.userInfo ul{
  list-style: none;
  text-align: center;
}
.userName{
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.userEmail{
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.userProfile{
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.link{
  text-decoration: none;
  color: whitesmoke;
}


@media screen and (max-width:600px){
  body{
    width:100vw;
  }
  .HeadPostsList {
    grid-template-columns: repeat(1,260px);
    justify-content: center;
}
.searchBar {
  justify-content: center;
}
.searchBar input {
  width: 200px;
  padding: 5px;

}
.postsLists {
  justify-content: center;
  grid-template-columns: repeat(1,260px);
}

}